mixin btn-decor(mode, text) 
	if mode === "dark"
		.btn-decor.btn-decor__dark()&attributes(attributes)
			.btn-decor__wrap
				.btn-decor__elem.btn-decor__elem--left(aria-hidden="true")
				+svg("decor", "btn-decor__icon", 48, 20)
				.btn-decor__elem.btn-decor__elem--right(aria-hidden="true")
			button.btn-decor__button.btn-decor__button--dark(type="button")
				span.btn-decor__text= text
	else if mode === "light"
		.btn-decor.btn-decor__light()&attributes(attributes)
			.btn-decor__wrap
				.btn-decor__elem.btn-decor__elem--left(aria-hidden="true")
				+svg("decor", "btn-decor__icon", 48, 20)
				.btn-decor__elem.btn-decor__elem--right(aria-hidden="true")
			button.btn-decor__button.btn-decor__button--light(type="button")
				span.btn-decor__text= text
	else if mode === "none" 
		.btn-decor.btn-decor__light()&attributes(attributes)
			.btn-decor__wrap
				.btn-decor__elem.btn-decor__elem--left(aria-hidden="true")
				+svg("decor", "btn-decor__icon", 48, 20)
				.btn-decor__elem.btn-decor__elem--right(aria-hidden="true")
			button.btn-decor__button.btn-decor__button--base(type="button", tabindex="-1")
				span.btn-decor__text= text