.footer {
	position: relative;

	padding-bottom: 24px;

	background-image: url(../img/footer/footer-bg.webp);
	background-repeat: no-repeat;
	background-position-y: 100%;
	background-size: 100%;
	
	&::after {
		content: "";

		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		height: 350px;

		background: linear-gradient(
			0deg,
			rgba(226, 211, 206, 0) 0%,
			rgba(226, 211, 206, 0.71) 42.71%,
			#e2d3ce 100%
		);
	}

	&__logo {
		display: block;
		width: clamp-px(178, 214);
		margin: 0 auto;
		margin-bottom: clamp-px(27, 100);
	}

	&__inner {
		position: relative;
		z-index: 10;

		max-width: 775px;
		margin: 0 auto;
		margin-bottom: 125px;
	}

	&__list {
		transform: translateX(-33px);
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__link {
		position: relative;

		padding: 10px 0;

		font-family: $main-font;
		font-size: 16px;
		color: $color-text;
		text-transform: uppercase;

		outline: none;
		&::after {
			@include bg-svg("common--decor");

			pointer-events: none;
			content: "";

			position: absolute;
			top: -9px;
			left: 50%;
			transform: translateX(-50%);

			width: 19px;
			height: 24px;

			visibility: hidden;
			opacity: 0;
			background-repeat: no-repeat;
			background-position: center;

			fill: #000;

			transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
		}

		&::before {
			@include bg-svg("common--decor");

			pointer-events: none;
			content: "";

			position: absolute;
			bottom: -8px;
			left: 50%;
			transform: translateX(-50%) rotate(180deg);

			width: 19px;
			height: 24px;

			visibility: hidden;
			opacity: 0;
			background-repeat: no-repeat;
			background-position: center;

			fill: #000;

			transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
		}

		@media (any-hover: hover) {
			&:hover::before,
			&:hover::after,
			&:focus-visible,
			&:focus-visible::before,
			&:focus-visible::after {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 12px;
		align-items: center;
		justify-content: space-between;

		font-family: $second-font;
		font-size: 12px;
		color: $color-light;
	}

	&__info {
		a {
			border-bottom: 2px solid transparent;
			outline: none;
			transition: border-bottom-color 0.4s ease-in-out;

			@media (any-hover: hover) {
				&:hover {
					border-bottom-color: $color-light;
				}
			}
		}
		a:focus-visible {
			border-bottom-color: $color-light;
		}
	}

	&__decor {
		.button-call {
			padding: 0;
		}

		.button-call__link {
			padding: 22px 28px;
		}
	}
}
