footer.footer
	.container 
		.footer__inner
			+svg("logo", "footer__logo")
			ul.footer__list 
				li.footer__item 
					a.footer__link(href="#") Luxury packages
				li.footer__item 
					a.footer__link(href="#") Book with us
				li.footer__item.footer__item--decor
					a.footer__link.footer__link--decor(href="#") Call Me Back
				li.footer__item 
					a.footer__link(href="#") Why Lux Trips
				li.footer__item 
					a.footer__link(href="#") Contact
		.footer__wrapper 
			span.footer__info © 2028 All Rights Reserved | Luxtrips
			span.footer__info Company Site | Privacy Policy