/* stylelint-disable no-descending-specificity */
.book {
	.container {
		max-width: 1440px;
	}

	&__title {
		position: relative;
		z-index: 100;

		width: 180px;
		margin: 0 auto;
		margin-bottom: 110px;
		padding-top: 45px;

		text-align: center;
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;

		@media (max-width: 1024px) {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		position: relative;

		overflow: hidden;
		display: flex;
		flex-grow: 1;
		align-items: center;
		justify-content: center;

		border-radius: $radius-base;

		transition: flex-grow 0.6s ease-in-out;

		&:hover {
			flex-grow: 2;

			.book__rhomb {
				width: 1000px;
				height: 1000px;
			}

			.book__text {
				opacity: 0;
			}

			.book__descr {
				opacity: 1;
			}
		}
	}

	&__img {
		object-fit: cover;
		border-radius: $radius-base;
	}

	&__rhomb-box {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__rhomb {
		transform: rotate(154deg) skewX(35deg) scaleY(cos(35deg));

		width: 140px;
		height: 140px;

		background-color: rgba(144, 144, 144, 0.14);
		backdrop-filter: blur(10px);
		outline: 1.8px solid $color-decor;
		outline-offset: 6px;

		transition: width 0.6s linear, height 0.6s linear;

		@media (max-width: 768px) {
			width: 80px;
			height: 80px;
		}
	}

	&__text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		font-family: $main-font;
		font-size: 32px;
		line-height: 0.9;
		color: $color-light;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: $letter-space-large;

		transition: opacity 0.4s ease-in-out;

		@media (max-width: 768px) {
			font-size: 18px;
		}
	}

	&__descr {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 100%;
		padding: 24px;

		font-family: $main-font;
		font-size: 20px;
		line-height: 1.3;
		color: $color-light;
		text-align: center;

		opacity: 0;

		transition: opacity 0.8s ease-in-out;

		@media (max-width: 768px) {
			font-size: 18px;
		}
	}
}
