.book {
	.container {
		max-width: 1440px;
	}

	&__title {
		position: relative;
		z-index: 100;

		width: 180px;
		margin: 0 auto;
		margin-bottom: 70px;
		padding-top: 45px;

		text-align: center;
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;

		@media (max-width: 1024px) {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		position: relative;

		overflow: hidden;
		display: flex;
		flex-grow: 1;
		align-items: center;
		justify-content: center;

		border-radius: $radius-base;

		transition: flex-grow 0.6s ease-in-out;

		@media (any-hover: hover) {
			&:hover {
				flex-grow: 2;
			}
		}
	}

	&__img {
		object-fit: cover;
		border-radius: $radius-base;
	}

	&__rhomb-box {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__rhomb {
		transform: rotate(154deg) skewX(35deg) scaleY(cos(35deg));

		width: 140px;
		height: 140px;

		background-color: rgba(144, 144, 144, 0.14);
		backdrop-filter: blur(10px);
		outline: 1.8px solid $color-decor;
		outline-offset: 6px;

		@media (max-width: 768px){
			width: 80px;
			height: 80px;
		}
	}

	&__text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		display: flex;
		flex-direction: column;
		align-items: center;

		font-family: $main-font;
		font-size: 32px;
		line-height: 0.9;
		color: $color-light;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: $letter-space-large;

		@media (max-width: 768px){
			font-size: 18px;
		}
	}
}
