@use './vars' as *;
@import 'swiper/swiper.css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

html {
	// scroll-behavior: smooth;
	scroll-padding-top: 40px;

	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-track {
		background-color: $color-light;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $color-decor;
	}
}

body {
	overflow-x: hidden;
	font-family: var(--font-forum);
	background-color: $color-bg;
}

a,
button,
input,
textarea,
select {
	outline-color: #000;
	outline-offset: 2px;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}

.body--hidden {
	overflow: hidden;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
	top: 105%;
	right: unset;
	bottom: unset;
	left: 0;

	display: none;

	margin-top: 12px;
}

.swiper-pagination-bullet {
	width: clamp-px(16, 38);
	height: 2px;

	opacity: 1;
	background: $color-light;
	border-radius: unset;
}

.swiper-pagination-bullet-active {
	background: $color-decor;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
	pointer-events: unset;
	cursor: none;
	opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
	&::after {
		content: none;
	}

	svg {
		width: unset;
		height: unset;
	}
}

@media (max-width: 1024px) {
	.swiper-button-prev.swiper-button-disabled,
	.swiper-button-next.swiper-button-disabled {
		cursor: pointer;
	}

	.swiper-pagination-fraction,
	.swiper-pagination-custom,
	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal {
		position: relative;
		z-index: 150;
		top: 102%;

		display: block;

		text-align: center;
	}
}