@media (min-width: 1980px) {
	.hero {
		background-image: url("../img/hero/scale-bg-1.webp");

		&__wrapper {
			margin-bottom: 270px;
		}
	}
}

@media (max-width: 1024px) {
	.hero {
		padding-top: 100px;
		padding-bottom: 0;

		&::before {
			bottom: -240px;
		}

		&__wrapper {
			margin-bottom: 175px;
		}

		&__img-1 {
			top: 56%;
		}

		&__img-2 {
			display: none;
		}
	}
}

@media (max-width: 768px) {
	.hero {
		&__img-1 {
			overflow: hidden;
			height: clamp-px(300, 400, 375, 768);
			object-fit: cover;
		}

		&__rhomb--large {
			top: -10px;
		}
	}
}
