@media (min-width: 1440px) {
	.reviews {
		background-image: url(../img/reviews/reviews-bg2x.webp);
		background-size: cover;

		&__container::after {
			content: none;
		}
	}
}

@media (max-width: 1024px) {
	.reviews {
		background-position-y: 55%;

		&__container {
			margin-bottom: 300px;
			&::after {
				width: 100px;
			}
		}
	}
}

@media (max-width: 767px) {
	.reviews {
		margin-top: 320px;
		padding-bottom: 50px;
		background-position-y: 52%;

		&__container {
			margin-bottom: 250px;
		}
	}
}
