.reviews {
	position: relative;

	margin-top: 368px;
	padding: 100px 0;

	background-image: url(../img/reviews/reviews-bg.webp);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	&__title {
		max-width: 250px;
		margin: 0 auto;
		margin-bottom: 75px;
		text-align: center;

		@media (max-width: 768px) {
			margin-bottom: 40px;
		}
	}

	&__container {
		position: relative;

		overflow: hidden;

		max-width: 1440px;
		margin: 0 auto;
		margin-bottom: 416px;
		padding: 0 15px;
		&::after {
			pointer-events: none;
			content: "";

			position: absolute;
			z-index: 10;
			top: 0;
			right: 0;

			width: 390px;
			height: 100%;

			background: linear-gradient(
				90deg,
				rgba(226, 211, 206, 0) 0%,
				#e2d3ce 99.99%
			);
			background-repeat: no-repeat;
			background-size: contain;
		}
	}

	&__item {
		cursor: default;

		position: relative;

		// min-height: 450px;
		// margin: 24px 0;
		padding: 40px;

		font-family: $second-font;
		color: #1d1a1a;

		background: rgba(226, 211, 206, 0.2);
		backdrop-filter: blur(10px);
		border: 1px solid $color-light;
		border-radius: $radius-base;

		&::before {
			content: "";

			position: absolute;
			z-index: -100;
			bottom: -10px;
			left: 50%;
			transform: translateX(-50%);

			width: 95%;
			height: 10px;

			border: 1px solid $color-light;
			border-top: none;
			border-radius: $radius-base;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}

		&::after {
			content: "";

			position: absolute;
			z-index: -100;
			top: -10px;
			left: 50%;
			transform: translateX(-50%);

			width: 95%;
			height: 10px;

			border: 1px solid $color-light;
			border-bottom: none;
			border-radius: $radius-base;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}

		@media (max-width: 768px) {
			// min-height: 416px;
			padding: 28px;
		}
	}

	&__author {
		display: flex;
		gap: 24px;
		align-items: center;
		margin-bottom: 50px;

		@media (max-width: 768px) {
			margin-bottom: 24px;
		}
	}

	&__img {
		width: 102px;
		height: 102px;

		object-fit: cover;
		object-position: 90% 8%;
		border-radius: 50%;

		@media (max-width: 768px) {
			width: 80px;
			height: 80px;
		}
	}

	&__text {
		// @include lineClamp(5);

		font-size: 20px;
		font-weight: 300;
		line-height: 1.76;

		@media (max-width: 768px) {
			font-size: 16px;
		}
	}

	&__name {
		display: block;

		margin-bottom: 6px;

		font-size: clamp-px(16, 20);
		font-weight: 500;
		line-height: 1;
	}

	&__location {
		font-size: clamp-px(14, 16);
		font-weight: 300;
		font-style: normal;
	}

	&__pagination {
		bottom: 122px;
		left: 50%;
	}

	&__contacts {
		max-width: 920px;
		margin: 0 auto;
		padding: 0 8px;
	}

	&__typed-wrap {
		display: flex;
		gap: 8px;
		align-items: center;
	}

	&__typed {
		display: flex;
		gap: 5px;
	}

	&__typed-text {
		font-size: clamp-px(18, 21);
		font-weight: 300;
		line-height: 1.76;
	}

	&__dot {
		width: 13px;
		height: 13px;

		background-color: gray;
		border-radius: 50%;

		animation: opac 1s infinite;
	}

	&__dot:nth-child(1) {
		background-color: #5c5c5b;
	}

	&__dot:nth-child(2) {
		background-color: #babab8;
		animation-delay: 0.3s;
	}

	&__dot:nth-child(3) {
		background-color: #8c8c8b;
		animation-delay: 0.6s;
	}

	&__hidden {
		opacity: 0;
	}

	.swiper-wrapper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}

@keyframes opac {
	0% {
		opacity: 65%;
		background-color: #babab8;
	}
	5% {
		opacity: 100%;
		background-color: #5c5c5b;
	}
	20% {
		opacity: 100%;
		background-color: #5c5c5b;
	}
	40% {
		opacity: 85%;
		background-color: #8c8c8b;
	}
	100% {
		opacity: 65%;
		background-color: #babab8;
	}
}

.hidden {
	display: none;
}

.show {
	display: block;
}
