.header {
	position: absolute;
	z-index: 1200;
	top: 0;
	right: 0;
	left: 0;

	width: 100%;
	padding-top: 14px;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		max-width: 1380px;
		margin: 0 auto;
		padding: 0 15px;
	}

	&__logo {
		position: relative;
		width: 121px;
		height: 63px;
		outline: none;

		@media (max-width: 768px){
			width: 100px;
			height: 60px;
		}
		&::after {
			@include bg-svg("common--decor");

			pointer-events: none;
			content: "";

			position: absolute;
			top: 58%;
			left: -16px;
			transform: translateY(-50%) rotate(270deg);

			width: 19px;
			height: 24px;

			visibility: hidden;
			opacity: 0;
			background-repeat: no-repeat;
			background-position: center;

			fill: #000;

			transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
		}

		&::before {
			@include bg-svg("common--decor");

			pointer-events: none;
			content: "";

			position: absolute;
			top: 58%;
			right: -16px;
			transform: translateY(-50%) rotate(90deg);

			width: 19px;
			height: 24px;

			visibility: hidden;
			opacity: 0;
			background-repeat: no-repeat;
			background-position: center;

			fill: #000;

			transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
		}
		&:focus-visible {
			&::after,
			&::before {
				visibility: visible;
				opacity: 1;
			}
		}

		svg {
			width: inherit;
			height: inherit;
		}
	}

	&__nav-bg {
		position: absolute;
		z-index: 10;
		left: 50%;
		transform: translate(-50%, -90%);

		display: none;
	}

	&__list {
		position: relative;
		z-index: 100;

		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: space-between;

		margin-top: 13px;
	}

	&__nav-link {
		position: relative;

		padding: 10px;

		font-size: 16px;
		font-weight: 400;
		color: #000;
		text-transform: uppercase;
		letter-spacing: 0.64px;

		outline: none;

		&::after {
			@include bg-svg("common--decor");

			pointer-events: none;
			content: "";

			position: absolute;
			top: -9px;
			left: 50%;
			transform: translateX(-50%);

			width: 19px;
			height: 24px;

			visibility: hidden;
			opacity: 0;
			background-repeat: no-repeat;
			background-position: center;

			fill: #000;

			transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
		}

		&::before {
			@include bg-svg("common--decor");

			pointer-events: none;
			content: "";

			position: absolute;
			bottom: -8px;
			left: 50%;
			transform: translateX(-50%) rotate(180deg);

			width: 19px;
			height: 24px;

			visibility: hidden;
			opacity: 0;
			background-repeat: no-repeat;
			background-position: center;

			fill: #000;

			transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
		}

		&:focus-visible::before,
		&:focus-visible::after {
			visibility: visible;
			opacity: 1;
		}

		@media (any-hover: hover) {
			&:hover::before,
			&:hover::after,
			&:focus-visible {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	&__btn-call {
		margin-top: 14px;
	}

	&__burger {
		position: relative;
		display: none;
	}
}
