@media (min-width: 1900px) {
	.customise {
		padding-top: 140px;
		background-image: url(../img/customise/customise-bg3x.webp);
	}
}

@media (max-width: 1024px) {
	.customise {
		background-image: url(../img/customise/customise-bg.webp);
		background-position-x: 44%;
		background-size: unset;
	}
}

@media (max-width: 768px) {
	.customise {
		background-position-x: 22%;
		background-position-y: 95%;
		background-size: 900px;

		&__btn {
			margin-bottom: 250px;
		}

		&__inner {
			padding-left: 12px;
		}
	}
}

@media (max-width: 500px) {
	.customise {
		// background-position-x: 28%;
		&__item {
			gap: 28px;
		}
	}
}

@media (max-width: 375px) {
	.customise {
		&__content {
			width: 435px;
		}
	}
}
