section.why#why
	.container 
		.why__inner 
			.why__top-block 
				.why__title 
					+title("Why <br> Lux Trips")
				p.why__text.why__text--first
					| As Travel Designer, we know the ins and outs of travel from who to work with, where to go, when to book, and which restaurant provides the most authentic cuisine. 
			.why__content 
				span.why__subtitle.why__subtitle--first 
					| Exclusive knowledge to provide the best of the best to clients
				p.why__text 
					| Our area of expertise ranges from luxury resorts and villas/chalets holiday bookings, private yacht and jet charters, to exclusive tours and personalized journey planning. 
				.why__picture
					+img("why/tourist-4", "why__img why__img-4", 245, 550, "Tourists", "lazy")
					+rhomb('large').why__img-rhomb
					+rhomb('big').why__img-rhomb--second
				span.why__subtitle.why__subtitle--second
					| We craft and plan unique itineraries tailored to customers’ interests and with strong attention to detail.
				+btn-link("#", "help me plan a trip").why__link
			.why__decor-img.why__decor-img--1
				+img("why/tourist-1", "why__img", 138, 308, "Tourists photo", "lazy")
				+rhomb('big').why__img-rhomb
			.why__decor-img.why__decor-img--2
				+img("why/tourist-2", "why__img", 73, 163, "Tourists photo", "lazy")
				+rhomb('small').why__img-rhomb
			.why__decor-img.why__decor-img--3
				+img("why/tourist-3", "why__img", 145, 324, "Tourists photo", "lazy")
				+rhomb('big').why__img-rhomb
			+rhomb('large').why__img-rhomb--center