/* stylelint-disable no-descending-specificity */
.rated {
	position: relative;
	z-index: 1000;

	margin-top: -115px;
	padding-top: 158px;
	padding-bottom: 150px;

	background-color: $color-bg;
	&::after {
		content: "";

		position: absolute;
		top: -5%;
		right: 0;
		bottom: 0;
		left: 0;

		width: 100%;
		height: 60px;

		background: linear-gradient(
			180deg,
			rgba(226, 211, 206, 0) 0%,
			rgba(226, 211, 206, 0.5) 50%,
			rgb(226, 211, 206) 100%
		);
	}

	&__title {
		width: 300px;
		margin: 0 auto;
		margin-bottom: clamp-px(60, 85);
		text-align: center;
	}

	&__tabs {
		margin-bottom: 20px;
	}

	&__wrap {
		position: relative;
		max-width: 1440px;
		margin: 0 auto;
	}

	&__container {
		// margin-left: clamp-px(0, 165, 1024, 1440);
		padding: 0 15px;
	}

	.swiper-slide {
		border-radius: 10px;
	}
}

.tabs {
	&__nav {
		display: flex;
		gap: 37px;
		justify-content: center;

		margin: 0 12px 18px 12px;
		padding: 0 15px;
		padding-bottom: 16px;

		&::-webkit-scrollbar {
			height: 6px;
		}
		&::-webkit-scrollbar-track {
			background-color: $color-light;
			border-radius: 8px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: $color-decor;
			border-radius: 8px;
		}
	}

	&__btn {
		cursor: pointer;

		flex-shrink: 0;

		font-family: $main-font;
		font-size: 24px;
		line-height: 1;
		color: $color-decor;

		background-color: transparent;

		transition: color 0.2s ease-in-out;

		&--active {
			position: relative;
			z-index: 22;
			color: $color-dark;
			outline: none;

			&::before {
				@include bg-svg("common--rhomb-hover");

				content: "";

				position: absolute;
				bottom: -15px;
				left: 50%;
				transform: translateX(-50%);

				width: 18px;
				height: 24px;

				background-repeat: no-repeat;
				background-size: contain;

				fill: $color-dark;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				color: $color-dark;
			}
		}
	}

	&__wrapper {
		position: relative;
		overflow: hidden;
		max-width: 100%;
		height: clamp-px(520, 570);
	}

	&__content {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		visibility: hidden;
		opacity: 0;

		transition: opacity .6s ease, visibility .6s ease;

		&--visible {
			visibility: visible;
			opacity: 1;
		}
	}

	@media (max-width: 768px) {
		.swiper-button-next {
			right: 14px;
		}

		.swiper-button-prev {
			left: 14px;
		}
	}
}
