@media (min-width: 1440px) {
	.rated {
		&__container {
			margin-left: unset;
		}
	}
}

@media (max-width: 1024px) {
	.rated {
		margin-top: -200px;
		padding-top: 310px;
		padding-bottom: 15px;
		&::after {
			top: -10%;
		}
	}
}

@media (max-width: 937px) {
	.tabs {
		&__nav {
			overflow-x: scroll;
			justify-content: unset;
		}
	}
}

@media (max-width: 580px) {
	.rated::after {
		top: -15%;
	}
}

@media (max-width: 475px) {
	.rated {
		padding-bottom: 25px;

		.place__nav-icon {
			width: 20px;
			height: 10px;
		}
	}
}

@media (max-width: 1024px) {
	.place {
		&__nav {
			cursor: pointer;
		}

		&__nav--left {
			transform: rotate(225deg) scale(1);
		}
	}
	.swiper-button-prev.swiper-button-disabled,
	.swiper-button-next.swiper-button-disabled {
		cursor: pointer;
	}

	.swiper-pagination-fraction,
	.swiper-pagination-custom,
	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal {
		position: relative;
		z-index: 150;
		top: 102%;

		display: block;

		text-align: center;
	}
}

@media (max-width: 768px) {
	.place {
		&__inner {
			padding: 20px;
		}
	}
}
