.button-call {
	@include bg-svg("border");

	cursor: pointer;

	padding: 22px 28px;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__link {
		display: block;

		font-size: 16px;
		font-weight: 400;
		color: #000;
		text-transform: uppercase;
		letter-spacing: 0.64px;
	}

	&__text {
		display: block;
		transition: transform 1s ease-in-out;
	}

	@media (any-hover: hover) {
		&:hover {
			.button-call__text {
				transform: scale(1.2);
			}
		}
	}
}
